services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: 'portainer'
    restart: always
    ports:
      - '8000:8000'
      - '9443:9443'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - 'portainer_data:/data'
    networks:
      app_net:
        ipv4_address: 172.20.1.2
networks:
  app_net:
    external: true
    name: network_proxy

volumes:
  portainer_data: