version: '2.0'

services:
  consul-server-1:
    image: hashicorp/consul:1.18
    hostname: consul-server-1
    container_name: consul-server-1
    ports:
      - "8500:8500" # UI, API
      - "8600:8600/udp" # DNS
    volumes:
      - 'consul-server-1-data:/consul/data'
    command:
      - consul
      - agent
      - -server
      - -bootstrap-expect=2
      - -ui
      - -node=consul-server-1
      - -client=0.0.0.0
      - -data-dir=/consul/data
      - -retry-join=consul-server-2
      - -encrypt=${CONSUL_ENCRYPT_KEY}
    networks:
      app_net:
        ipv4_address: 172.20.1.4

  consul-server-2:
    image: hashicorp/consul:1.18
    hostname: consul-server-2
    container_name: consul-server-2
    volumes:
      - 'consul-server-2-data:/consul/data'
    command:
      - consul
      - agent
      - -server
      - -bootstrap-expect=2
      - -node=consul-server-2
      - -client=0.0.0.0
      - -data-dir=/consul/data
      - -retry-join=consul-server-1
      - -encrypt=${CONSUL_ENCRYPT_KEY}
    networks:
      app_net:
        ipv4_address: 172.20.1.5

networks:
  app_net:
    external: true
    name: network_proxy

volumes:
  consul-server-1-data:
  consul-server-2-data: